# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# configuration variables not to be committed
instance

# Virtual environment
venv/
.mypy_cache/

# Environment variables
.env

# Flask file uploads
app/static/uploads/

# IDE specific settings
.idea/
.vscode/
*.swp

# Operating System files
.DS_Store
Thumbs.db

# Jekyll
_site/
Gemfile.lock
