{% extends "base.html" %} {% block content %}
<h1>UiPath Machines</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Key</th>
      <th>Non-Production Slots</th>
      <th>Unattended Slots</th>
      <th>ID</th>
    </tr>
  </thead>
  <tbody>
    {% for machine in machines %}
    <tr>
      <td>{{ machine.Name }}</td>
      <td>{{ machine.Key }}</td>
      <td>{{ machine.NonProductionSlots }}</td>
      <td>{{ machine.UnattendedSlots }}</td>
      <td>{{ machine.Id }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
